In [23]:
# !pip3 install mysql-connector-python
import mysql.connector as sql

In [71]:
connection = sql.connect(
    host='127.0.0.1',
    port='8889',
    username='root',
    password='root',
    database='python_sql_training'
)

In [72]:
db = connection.cursor()

In [73]:
db.execute('SHOW DATABASES')
for i in db:
    print(i)

('information_schema',)
('DashRida',)
('dash',)
('laravel',)
('laravel-blog',)
('learning_sql',)
('mysql',)
('mytable',)
('performance_schema',)
('python_sql_training',)
('sys',)

In [ ]:
db.execute('CREATE DATABASE python_sql_training')

In [54]:
# Create Table
db.execute("CREATE TABLE users (name VARCHAR(255), address VARCHAR(255))")

In [74]:
tables = db.execute('SHOW TABLES')
for i in tables:
    print(i)

TypeError: 'NoneType' object is not iterable

6